{% extends 'base.html.twig' %}
{% block title %}ONE DAY | ONE HTTP STATUS CODE{% endblock %}

{% block body %}
    <div class="flex flex-col text-center border border-white m-3">
        <h1 class="text-black bg-white m-6">STATUS OF THE DAY</h1>
        <li class="text-custom-green list-none">
            <ul class="text-2xl m-3">{{ status.code }}</ul>
            <ul class="m-5">{{ status.message }}</ul>
            <ul class="m-5 text-xs">{{ status.signification }}</ul>
        </li>
    </div>
    <div class="lg:flex lg:justify-center">
        <div class="flex justify-center flex-col text-center border border-white m-3 pb-3">
            <h1 class="text-black bg-white m-6">QUESTION OF THE DAY</h1>
            <li class="text-custom-green list-none">
                <ul class="m-3">{{ yesterdayStatus.message }}</ul>
            </li>
            <form method="GET" class="flex flex-col justify-center text-center items-center mt-6">
                <label class="text-white text-xs">Choose your pseudo :</label>
                <input class="bg-gray-300 focus:bg-gray-400 m-3 text-center" type="text" name="pseudo" maxlength="15" required>
                <label class="text-white text-xs">Find the code associated :</label>
                <input class="bg-gray-300 focus:bg-gray-400 m-3 text-center" type="number" name="answer" max="999" required>
                <button class="bg-gray-300 hover:bg-gray-400 p-2 mt-3 text-xs" type="submit">Submit</button>
            </form>
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    {% if "Good Answer" in message %}
                        <div class="bg-custom-green text-white mt-2 text-xs p-6 mx-4">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="bg-red-600 text-white mt-2 text-xs p-6 mx-4">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="flex flex-col text-center border border-white m-3">
            <h1 class="text-black bg-white m-6">WINNERS OF THE DAY</h1>
            <li class="text-custom-green list-none m-2 grid grid-cols-3 md:grid-cols-5 gap-5 text-center text-xs pb-2">
                {% for winner in winners  %}
                    <ul class="text-xs">{{ winner.nickname }}</ul>
                {% endfor %}
            </li>
        </div>
    </div>
{% endblock %}
