{% extends 'base.html.twig' %}
{% block title %}ONE DAY | ONE HTTP STATUS CODE{% endblock %}

{% block body %}
    <div class="flex flex-col text-center">
        <h1 class="text-black bg-white m-10">STATUS OF THE DAY</h1>
        <li class="text-custom-green list-none">
            <ul class="text-2xl m-3">{{ status.code }}</ul>
            <ul class="m-5">{{ status.message }}</ul>
            <ul class="m-5">{{ status.signification }}</ul>
        </li>
    </div>
    <div class="flex justify-center flex-col text-center">
        <h1 class="text-black bg-white m-10">QUESTION OF THE DAY</h1>
        <li class="text-custom-green list-none">
            <ul class="m-3">{{ status.message }}</ul>
        </li>
        <form method="GET" class="flex flex-col justify-center text-center items-center mt-6">
            <label class="text-white text-xs">Choose your pseudo :</label>
            <input class="bg-gray-300 focus:bg-gray-400 m-3 text-center" type="text" name="pseudo" maxlength="15" required>
            <label class="text-white text-xs">And find the code :</label>
            <input class="bg-gray-300 focus:bg-gray-400 m-3 text-center" type="number" name="answer" max="999" required>
            <button class="bg-gray-300 hover:bg-gray-400 p-2 mt-3 text-xs" type="submit">Submit</button>
        </form>
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="bg-red-600 text-white mt-2 text-xs p-6">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="flex flex-col text-center">
        <h1 class="text-black bg-white m-10">WINNER OF THE DAY</h1>
        <li class="text-custom-green list-none m-2 grid grid-cols-3 md:grid-cols-6 gap-5 text-center text-xs">
            {% for winner in winners  %}
                <ul class="text-xs">-{{ winner.nickname }}</ul>
            {% endfor %}
        </li>
    </div>
{% endblock %}
